@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura-webfont.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/futura-webfont.woff') format('woff2'), /* Super Modern Browsers */
    url('../fonts/futura-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/futura-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/futura-webfont.svg') format('svg');
    /* Legacy iOS */
}