/* COLORES */

$colorwhite: #FFF;
$colorblack: black;
$colorcian: #6fe4ff;
$colorrojo: #ff8989;

/* TIPOGRAFIAS */

$opensans: 'Open Sans',
sans-serif;
$montserrat: 'Montserrat',
sans-serif;
$futura: 'Futura',
sans-serif;

/* TAMAÑOS */

$tam-logo: 31px;
$tam-logo-span: 10px;
$tam-titulo-principal: 26px;
$tam-titulo: 18px;
$tam-texto: 15px;
$tam-autor-texto: 14px;