#header .banner__principal-img {
    background-image: url('../../assets/img/image-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    display: block;
    background-size: cover;
}

#header .banner__autor-img {
    width: 50px;
    height: 50px;
}

#header .banner__principal-autor-texto h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

#header .banner__principal-autor-texto span {
    font-size: $tam-autor-texto;
}

@media only screen and (max-width: 480px) {
    #header .banner__principal-img {
        height: 110px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #header .banner__principal-img {
        height: 150px;
    }
}

@media only screen and (max-width:768px) {
    #menu__principal {
        padding: 0px 14%;
    }
}