#videos img {
    margin-bottom: 15px;
}

#videos h2 {
    font-size: $tam-titulo;
    line-height: 1.4em;
}

#videos p {
    font-size: $tam-texto;
}

@media only screen and (max-width:600px) {
    #videos {
        padding: 0px 14%;
    }
    #videos .video {
        margin-bottom: 30px;
    }
}